NEXT_PUBLIC_API_URL=https://sublaunch-mvp.onrender.com
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TMrTaKnxPJGd0Qo6SnROdiXqd7Li3XiLRzae1SBPRerpu89GA0N4ShUfr877hWc3hq24lpmlPVDSQBhn7sZmkEG00G0WKRTMS
NEXT_PUBLIC_APP_URL=https://sublaunch-mvp.vercel.app
